*

!.gitignore

!ghostty/
!ghostty/config

!tmux
!tmux/tmux.conf

!wezterm.lua

!kitty/
!kitty/kitty.conf

!nvim/
!nvim/**

!btop/
!btop/btop.conf

!hypr/
!hypr/**

!waybar/
!waybar/**

!rofi/
!rofi/**

!swaync/
!swaync/**

!wlogout/
!wlogout/**

!*.kwinscript

!.zshrc
