* {
  font-family:
    /* CommitMono Nerd Font, */ Inter, FontAwesome;
  /* JetBrainsMono Nerd Font; */
  font-size: 16px;
}

window#waybar {
  /* background-color: rgba(43, 44, 52, 0.9); */
  /* background-color: rgba(40, 44, 52, 0.97); */
  background-color: rgba(22, 24, 33, 0.9);
  /* color: #ffffff; */
  transition: background-color 0.5s;
}

window#waybar.hidden {
  opacity: 0.2;
}

#window {
  font-family:
    CommitMono Nerd Font,
    Inter,
    FontAwesome;
  /* JetBrainsMono Nerd Font; */
}

#battery.charging {
  background-color: #b5b4e2;
}

#battery.critical:not(.charging) {
  background-color: #b54f4f;
  animation: blink 0.5s linear infinite alternate;
}

@keyframes blink {
  to {
    background-color: #ffffff;
    color: #3b3f51;
  }
}

#network.disconnected {
  background-color: #b54f4f;
}

#pulseaudio.muted {
  background-color: #3b3f51;
  color: #b5b4e2;
}

#tray {
  margin: 0 8px;
  /*background-color: #3b3f51;*/
  /*color: #282a36;*/
  color: #ffffff;
  /*border-radius: 7;*/
}

#tray > .passive {
  -gtk-icon-effect: dim;
  color: #6272a4;
}

#tray > .needs-attention {
  background-color: #ff5555;
  color: #ffffff;
}

#idle_inhibitor.activated {
  background-color: #b5b4e2;
  color: #3b3f51;
}

#workspaces button {
  background: transparent;
  border: none;
  color: #888888;
  padding: 2px 8px;
  margin: 0 2px;
  font-weight: bold;
}

#workspaces button:hover {
  /* background-color: #6272a4; */
  /* background-color: rgba(97, 175, 239, 0.2); */
  background-color: #61afef;
  padding: 2px 8px;
  margin: 0 2px;
  border-radius: 10px;
}

#workspaces button.active {
  /* box-shadow: inset 0 2.75px #ffffff; */
  /* background-color: #61afef; */
  background-color: rgba(97, 175, 239, 0.2);
  /* 蓝色高亮 */
  color: #ffffff;
  padding: 2px 8px;
  margin: 0 2px;
  border-radius: 10px;
}

#workspaces button.urgent {
  background-color: #b54f4f;
}

label:focus {
  background-color: #000000;
}
